.storyContent-wrapper {
  display: table;
  margin: 0 auto;
  padding: 0 auto;
}

@media print {
  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

@media print {
  .storyContentList.print .storyContent {
    page-break-after: always;
    height: 100%;
    padding: 0;
    margin: auto auto;
  }
}

.storyContent-wrapper.print {
  width: auto !important;
  height: auto !important;
  margin: 0 auto;
  overflow: visible !important;
}

.storyContent-wrapper.print .storyContent {
  display: block !important;
  box-shadow: none !important;
  float: none !important;
}

@media print {
  .storyContent-wrapper.print .storyContent {
    page-break-after: always;
  }
}

.storyContentList {
  width: 350px;
  height: 600px;
  margin: auto auto;
  background: #eeeeee;
  border-radius: 4px;
  box-shadow: #00000033 0px 4px 4px;
  float: left;
  overflow: hidden;
}

.storyContent-wrapper.print .storyContentList {
  width: 6.5in;
  height: 9in;
  border-radius: 0px !important;
  box-shadow: none !important;
  float: none !important;
  margin: 0 auto;
  overflow: visible !important;
}

.storyContent {
  width: 350px;
  height: 600px;
  margin: auto auto;
  background: #eeeeee;
  box-shadow: #00000033 0px 4px 4px;
  float: left;
  display: none;
}

.storyContent.selected {
  display: block;
}

.storyContent-wrapper.print .storyContent {
  width: 6.5in;
  height: 9in;
}

.storyContent img {
  width: 350px;
  height: 350px;
  background: antiquewhite;
}

.storyContent-wrapper.print .storyContent img {
  width: 5in;
  height: 5in;
  margin: 0 auto;
  display: block;
}

 .storyContent p {
  margin: 1.5em;
  white-space: pre-wrap;
}

.storyContent-wrapper.print .storyContent p {
  font-size: 20pt;
  width: 5in;
  margin: 1em auto;
}

.storyContent.COVER {
  background: blueviolet;
  color: #ffffff;
  padding: 24px 0 0 0;
}

.storyContent-wrapper.print .storyContent.COVER {
  background: whitesmoke;
  color: blueviolet
}

.storyContent.COVER img {
  width: 302px;
  height: 302px;
  border-radius: 0;
  background: blueviolet;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.storyContent.COVER  p {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin: 1.5em;
  display: block;
}

.storyContent-wrapper.print .storyContent.COVER p {
  font-size: 36pt;
}

.storyContent.REFLECTION {
  color: gray();
  font-size: 14pt;
}

.storyContent.REFLECTION p:before {
  content: "Can you answer this question?";
  color: dimgrey;
  display: block;
  font-size: 14pt;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 4em 0;
}
  .storyContent-wrapper.print .storyContent.REFLECTION p:before {
    font-size: 16pt;
  }

.storyContent.REFLECTION p {
  color: blueviolet;
  font-size: 20pt;
  text-align: center;
}

.storyContent-wrapper.print .storyContent.REFLECTION p {
  font-size: 32pt;
}

.storyContent.REFLECTION img {
  display: none !important;
}

.storyContent.STATEMENT {
}

.storyContent.STATEMENT p {
  color: black;
  font-size: 20pt;
  text-align: center;
}

.storyContent-wrapper.print .storyContent.STATEMENT p {
  padding: 7em 0;
  font-size: 32pt;
}

.storyContent.STATEMENT img {
  display: none !important;
}

.navButton {
  background: whitesmoke;
  margin: 150px 32px 0;
  padding: 0px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  box-shadow: black 0px 4px 32px;
  display: block;
  float: left;
  cursor: pointer;
}

.navButton:hover {
  background: blueviolet;
}

.storyContent-wrapper.print .navButton {
  display: none;
}

.prevButton {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background:  url("assets/ui/backButton24.png") no-repeat center;
}

.nextButton {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background:  url("assets/ui/nextButton24.png") no-repeat center;
}
